# OS / 환경
.DS_Store
.env

# 데이터
data/raw/apt_images/
data/interim/satellites/
data/interim/
notebooks/experimet/apt_images/


# Jupyter
**/.ipynb_checkpoints/
*-checkpoint.ipynb

# Python cache / bytecode
__pycache__/
*.py[cod]
*.so